html, body {
  width: 100%;
  height: 100%;
}

svg.js-lifegame {
  /* position: absolute;;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%; */

  z-index: -1000;
}

path.color0 {
  fill: #888;
}
path.color1 {
  fill: #eee;
}
