body {
  background-color: #468189;
}

.margin-top-20 {
  margin-top: 20px;
}

.js-donuts {
  position: absolute;
  top: 0px;
  left: 0px;

  z-index: -1000;
}

path.color0 {
  fill: #9DBEBB;
}

path.color1 {
  fill: #77ACA2;
}

.tempo-label {
  color: #eee;
  font-size: 100px;
  font-weight: 200;
}

.slider {
  width: 100% !important;
}

.slider .slider-track,
.slider .slider-track-row,
.slider .slider-track-high,
.slider .slider-selection {
  border-radius: 2px;
}

.slider .slider-selection {
  background: #9DBEBB;
}

.slider-handle.round {
  border-radius: 3px;
  background-color: #F4E9CD;
  background-image: none;
}

.rhythm-select {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  font-size: 24px;

  width: 50px !important;
  display: inline-block;
}

.rhythm-select, .rhythm-bar {
  color: #eee;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .form-control-static {
  display: inline-block;
}

.js-toggle-click {
  color: #031926;
  background-color: #F4E9CD;
  border-color: #d0cfb8;
}

.js-toggle-click:hover,
.js-toggle-click:focus,
.js-toggle-click:active {
  background-color: #dad0b6;
  border-color: #d0cfb8;
}

.slider-handle:focus,
select:focus,
button:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.background-flush {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: #77ACA2;
  z-index: -10000;

  display: none;
}
